<%
local fros_version = require "luci.controller.fros".get_fros_version()

-%>
<script type="text/javascript">
	//<![CDATA[

	
	function onClick_open_fros_web(btn){
		location.href=window.location.origin + "/fros.html"
	}
	//]]>
</script>

<div class="cbi-value">
	<div class="cbi-value-field">
		<span id = "vid" style="display: none";><%=fros_version%> </span>
		<div id="version_info">
			<div style="margin-left: 40px">
				版本号: <span > <%=fros_version%> </span> </br>
				运行状态: <span style="color:green;margin-top:40px;">正在运行</span> </br>
				系统管理: <input class="cbi-button cbi-input-apply" type="button"  id="manage_web" onclick="onClick_open_fros_web(this);" value="<%:打开管理界面%>" />
			</div>
		</div>

		<div style="margin-left:30px;margin-top:60px">

		</div>
		<span id = "error_log" style="color:red;margin-left: 40px;"></span>

		<span id = "install_log" style="color:gray;margin-left: 40px;"></span>

	</div>
</div>
